/*@mixin bp-lg{
	@media only screen and (min-width: 1300px){
		@content;
	}
}

@mixin bp-md{
	@media only screen and (min-width: 992px) and (max-width: 1299px){
		@content;
	}
}

@mixin bp-sm{
	@media only screen and (min-width: 768px) and (max-width: 991px){
		@content;
	}
}

@mixin bp-xs{
	@media only screen and (min-width: 481px) and (max-width: 767px){
		@content;
	}
}

@mixin bp-xxs{
	@media only screen and (max-width: 767px){
		@content;
	}
}*/

@mixin opacity($opacity, $fontsize){
    opacity: $opacity;
    font-size: $fontsize;
}

@mixin device($deviceName){
    @if $deviceName==desktop{
        @media only screen and (min-width: 1300px){
            @content;
        }
    }
    @if $deviceName==tablet{
        @media only screen and (min-width: 992px) and (max-width: 1299px){
            @content;
        } 
    }
    @if $deviceName==mobile{
        @media only screen and (min-width: 768px) and (max-width: 991px){
            @content;
        }
    }
}

$varblue: blue;
$varbrown: brown;
$varpeach: peachpuff;
$opacity: .3;
$fontsize: 1.4em;

html{
    font-family: 'Raleway', sans-serif;
    @include opacity($opacity, $fontsize);

    body{
        margin: 0;
        padding: 0;
        &.dark{
            font-family: sans-serif;
        }
        @include device(desktop){
            background: $varblue;
        }
        @include device(tablet){
            background: $varbrown;
        }
        @include device(mobile){
            background: $varpeach;
        }
        /*@include bp-xs{
            background: yellow;
        }*/
       /* @include bp-xxs{
            background: red;
        }*/
    }
    
    p{
        line-height: 1.4;
        margin-bottom: 15px;
    }
    
    .right{
        float: right;
    }
    
    .left{
        float: left;
    }
    
    .clear{
        clear: both;
    }
    
    .container{
        width: 930px;
        padding: 0 15px;
        margin: 0 auto;
        overflow: hidden;
        clear: both;
    }
    
    header{
        background: lightgray;
        color: gray;
        //width: calc(100%/3);
    }
    main{
        background: url(../img/content_bg.png) repeat-x;
        border-top: solid 6px white;
        position: relative;
        &::before{
            content: '';
            display: block;
            width: 50%;
            top: -6px;
            right: 0;
            background: #fa631c;
            height: 6px;
            position: absolute;
        }
    }

    footer{
        background-color: #eeeeec;
        overflow: hidden;
        p{
            color: #8c8c8c;
        }
    }

}
